.l-heading{
    text-align: center;
}
#navbar .logo{
    float: none;
    text-align: center;
}
#navbar ul, 
#navbar li{
    float: none;
}
#navbar ul li a{
    padding: 10px;
    border-bottom: 1px #333 dotted;
}
#showcase p{
    padding: 10px;
}
#home-info .info-img{
    display: none;
}
#home-info .info-content{
    float: none;
    width: 100%;
    padding-top: 70px;
}
#features .box{
    float: none;
    width: 100%;
}
#about-info .left-content,
#about-info .right-img{
    float: none;
    width: 100%;
}
#about-info .left-content h1{
    margin-top: 20px;
}
#contact-info .info{
    float: none;
    width: 100%;
    border: #333 dotted 1px;
}